.header {
  width: 92.5%;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
  }
}