.footer__link {
  font-size: 16px;
  line-height: 1.125;
  color: #fff;
  text-decoration: none;
  margin-right: 18px;
  transition: all .25s;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 32px;
  }
}