.info__title {
  max-width: 690px;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 900;
  margin: 0 0 40px;
}

@media screen and (max-width: 576px) {
  .info__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  .info__title {
    font-size: 32px;
  }
}