.baikal__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .baikal__subtitle {
    max-width: 360px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .baikal__subtitle {
    max-width: 90%;
  }
}